fastapi>=0.110.0
uvicorn>=0.28.0
langchain>=0.3.18
langchain-openai>=0.0.11
langchain-google-genai>=0.0.11
langchain-nvidia-ai-endpoints>=0.0.4
langchain-deepseek>=0.0.1
langchain-core>=0.3.37
langchain-community>=0.3.17
sqlalchemy>=2.0.28
alembic>=1.13.1
python-dotenv>=1.0.1
pydantic>=2.6.3
pydantic-settings>=2.2.1
asyncpg>=0.29.0
langsmith>=0.1.22 